<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
        <%- messages() %>

            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>


                    <div id="welcome">
                        <h2>Welcome</h2>
                        <p>You're logged in.</p>
                        <button><a href="/account/update/">Edit Account Information</a></button>
                    </div>