/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ADDED FOR CONVENIENCE */
:root {
  --primary-background: #fff;
  --main-accent: #01b0d3;
}

header a {
  text-decoration: none;
  color: black;
  background-color: white;
}

.sitename {
  justify-self: flex-start;
  font-size: 35px;
}

#tools {
  justify-self: flex-end;
  margin-top: -40px;
  margin-bottom: 40px;
}

#tools a {
  font-size: 1.5rem;
}

/*Navigation*/
nav{
  background-color: #333437;
  color: white;
  padding: 3px;
}
nav ul{
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-evenly;
}
nav ul a{
  text-decoration: none;
  color: white;
  background-color: #333437;
}

#wrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-background);
  border: 5px solid var(--main-accent);
  border-radius: 10px;
  padding: 1vw;
  margin-top: 1rem;
  color: #000;
}

.hero {
  position: relative;
  margin-left: 0.2rem;
}

.hero-image {
  margin-left: 75px;
}

.hero button {
  background: #00bfff;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  color: #000000;
  font: normal bold 1.5rem "Segoe ui";
  text-align: center;
}

.hero .features {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1em;
  padding: 1.3rem;
}

.hero .features p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #00bfff;
  margin-left: 4%;
}

.de-container {
  justify-content: center;
}

.reviews {
  font-size: 25px;
}

ul li {
  padding-bottom: 1rem;
}

.upgrades {
  align-items: center;
}

.upgrades-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 75%;
}

.upgrades-tiles div {
  text-align: center;
  justify-content: space-evenly;
}

.flux-cap {
  grid-area: 1/1/2/2;
}

.flame-decals {
  grid-area: 1/2/2/3;
}

.image {
  width: 100%;
  height: 100px;
  padding-bottom: 1px;
  padding-top: 2px;
  background-color: #40b6e0;
  align-content: center;
}

/*Headings*/
h1{
  font-family: 'Dodger';
  font-size: 3rem;
  margin-left: 1.5rem;
  color: #00646d;
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#19323b;
  margin: 0.2rem;
  font-size: 2rem;
}

h3{
  font-family: 'Dodger';
  color: #1d00f7;
  font-size: 1.6rem;
}


/* Responsive design for desktop view */
@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    background-size: 100px 100px;
    background-position: 0 0, 0 0, -50px -50px, 50px 50px;
    background-image: linear-gradient(45deg, #000 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #000 75%),
      linear-gradient(45deg, transparent 75%, #000 75%),
      linear-gradient(45deg, #000 25%, #fff 25%);
  }

  #wrapper {
    width: 75vw;
    max-width: 1200px;
  }

  .de-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .upgrades,
  .reviews {
    padding: 1rem;
  }

  .upgrades {
    grid-area: 1/1/2/2;
  }

  .reviews {
    grid-area: 1/2/2/3;
  }
}
