<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { %>
        <% res.redirect('/') %>
            <% } %>

                <%- messages() %>

                    <% if (errors) { %>
                        <ul class="notice" role="alert" aria-live="assertive">
                            <% errors.array().forEach(error=> { %>
                                <li>
                                    <%= error.msg %>
                                </li>
                                <% }) %>
                        </ul>
                        <% } %>

                            <form id="add-classification" action="/inv/addClassification" method="post">
                                <fieldset>
                                    <legend>Add New Classification</legend>
                                    <p id="required-info">* All fields are required.</p>

                                    <label for="classificationName">Classification Name</label>
                                    <input type="text" name="classification_name" id="classificationName"
                                        pattern="^[A-Za-z]+$"
                                        title="Alphabetic characters only, no spaces or special characters." required
                                        aria-describedby="instructions">

                                    <div id="instructions">
                                        <p>Name must contain alphabetic characters only (no spaces or special
                                            characters).</p>
                                    </div>

                                    <input type="submit" value="Add Now" class="submit-btn"
                                        aria-label="Submit new classification">
                                </fieldset>
                            </form>