<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
<%  }) %>
   </ul>
<% } %>

<div class="newClassifOrVeh">
    <p class="nclassi">Click the button to add a New Classification</p>
    <button class="manage" id="managebtt" onclick="location.href='/inv/addClassification'">
        Add New Classification
    </button>

    <p class="nveh">Click the button to add a New Vehicle</p>
    <button class="manage" id="managebtt" onclick="location.href='/inv/addInventory'">
        Add New Vehicle
    </button>
</div>